# Lists and For loop

In [1]:
my_list = [1,2,3,4,5,6,7]

In [2]:
my_list.reverse()

In [3]:
my_list

[7, 6, 5, 4, 3, 2, 1]

In [4]:
my_list.sort()

In [5]:
my_list

[1, 2, 3, 4, 5, 6, 7]

In [6]:
my_list.sort(reverse = False)

In [7]:
print(my_list)

[1, 2, 3, 4, 5, 6, 7]

In [8]:
my_list.insert(3,'Favour')

In [9]:
my_list

[1, 2, 3, 'Favour', 4, 5, 6, 7]

In [10]:
list1 = ['a','b','c','d']
list2 = ['e','f','g','h']

In [11]:
list1.extend(list2)

In [12]:
list1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']


# Nested List

In [13]:
new_list = [1,2,3,['a','b','c']]

In [14]:
new_list[3]

['a', 'b', 'c']

In [15]:
my_list = [[1,2], [3,4], [7,8]]

In [16]:
my_list[-1:]

[[7, 8]]

In [17]:
my_list

[[1, 2], [3, 4], [7, 8]]

In [18]:
mylist1 = [20,30,40,60]

In [19]:
mylist1.insert(3, 50)

In [20]:
mylist1

[20, 30, 40, 50, 60]

In [21]:
mylist = ['a','c','d']

In [22]:
mylist[1] = 'b'

In [23]:
mylist

['a', 'b', 'd']

In [24]:
mylist.insert(2, 'c')

In [25]:
mylist

['a', 'b', 'c', 'd']

# While Loop

In [26]:
a = 1

while a < 10:
    print("a is less than 10")
    a = a+1

a is less than 10
a is less than 10
a is less than 10
a is less than 10
a is less than 10
a is less than 10
a is less than 10
a is less than 10
a is less than 10

In [27]:
x = 0

while x < 3:
    print('X is currently')
    print(x)
    x = x + 1

X is currently
0
X is currently
1
X is currently
2

In [28]:
# Print numbers from 2 to a value less than 6

a = 2

while a < 6:
    print(a)
    a += 1

2
3
4
5

In [29]:
a = 0

while a < 10:
    print(a)
    a += 1
    
    if a == 3:
        break

0
1
2

In [30]:
a = 12
a += a + 6
print(a)

30

In [31]:
mystring = "This is a string"

for word in mystring:
    print(word)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [32]:
for word in mystring.split():
    print(word)

This
is
a
string

In [33]:
hobby = "This is me and this is what i like doing"

In [34]:
for word in hobby.split():
    print(word)

This
is
me
and
this
is
what
i
like
doing

In [35]:
my = [1,2,3,4]
for i in my:
    print("I am in a for loop")
    print(i)
print("The End")

I am in a for loop
1
I am in a for loop
2
I am in a for loop
3
I am in a for loop
4
The End

In [36]:
mylist = [1,2,3,4]

for my in range(len(mylist)):
    print(my)

0
1
2
3

In [37]:
name1 = 'Ibekwe'
name2 = 'Favour'
name3 = 'Mmachukwumerem'
print(len(name1))
print(len(name2))
print(len(name3))
print('Sum:',len(name1) + len(name2) + len(name3))

6
6
14
Sum: 26

In [38]:
strings = 'This is me and this is what i like doing'

for char in strings.split():
    print(char, end = ' ')

This is me and this is what i like doing

In [39]:
mylist = [1,2,3,4]

for num in mylist:
    print(num, end = '')

1234

In [40]:
list_of_tuples = [(1,2), (3,4), (5,6), (7,8)]

for number1, number2 in list_of_tuples:
    print(number1)
    print('\n')
    print(number2)

1


2
3


4
5


6
7


8

# For loop with tuple

In [41]:
tup = (1,2,3,4)

for num in tup:
    print(num)

1
2
3
4

In [42]:
# For List

lis = [1,2,3,4,5,6]

for num in lis:
    print(num)

1
2
3
4
5
6

In [43]:
print(num)

6

In [44]:
print(lis)

[1, 2, 3, 4, 5, 6]

# Tuple Unpacking

In [45]:
list_of_tuples = [(1,2), (3,4), (5,6), (7,8), (9, 0)]

In [46]:
for x in list_of_tuples:
    print(x)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 0)

In [47]:
for x in list_of_tuples:
    print(x[0])
    print('\n')
    print(x[1])

1


2
3


4
5


6
7


8
9


0